<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/Style.css">
        <title>Chats</title>
    </head>
    <body>
        <div id="chats">
            <div id="buscador">
                <form action="resultadosBusqueda" method="">
                    <input type="text" name="usuario" size="10" id="barraBuscar"><br>
                    <button type="submit" value="buscar" id="botonBuscar"><img src="/images/search.png" class="image"></button>
                </form>
            </div>
            <div id="scroll2">
                <% if( typeof chats ==='undefined' ) { %>
                    <!-- <h1>Parece que no tienes ningun chat</h1> -->
                <% }  else { %>                
                    <% for( chat of chats) { %>
                        <div id="usuarios" name="<%= chat.IdChat %>" onclick="window.location.href = 'Chat/<%= chat.IdChat %>'">
                            <%= chat.NombreChat %>
                                <!-- Email: <%= chat.Correo %> -->
                        </div>
                    <% }; %>
                <% }; %>
            </div>
            <div id="regresar">
                <a href="./" class="regresar">Salir</a>
            </div>
        </div>
        <div id="conversacion">
            <div id="scroll">
                <% if(typeof mensajes === 'undefined'){ %>
                    <!-- <h1>Parece que no tienes ningun mensaje</h1> -->
                <% }else{ %>                
                    <% for(mensaje of mensajes){ %>
                        <% for(usuario of usuarios){ %>
                                <% if(usuario.IdUsuario === mensaje.IdUsuario){ %>
                                    <div class="mensajepropio" name="">
                                        <%= usuario.Nombre %> <br>
                                        <%= mensaje.IdMensaje %> <br>
                                        <%= mensaje.Texto %> <br>
                                        <%= mensaje.Fecha %> <br>
                                    </div>
                                <% }else{ %>
                                    <div class="mensajeotro" name="">
                                        <%= usuarios2.Nombre %> <br>
                                        <%= mensaje.IdMensaje %> <br>
                                        <%= mensaje.Texto %> <br>
                                        <%= mensaje.Fecha %> <br>
                                    </div>
                                <% }; %>   
                        <% }; %>
                    <% }; %>
                <% }; %>
            </div>
        </div>
    </body>
</html>