<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/Style.css">
        <title>Chats</title>
    </head>
    <body>
        <div class="todo">
            <div id="chats">
                <div id="buscador">
                    <form action="../resultadosBusqueda" method="get">
                        <input type="text" name="usuario" size="10" id="barraBuscar" placeholder="Busca un chat..."><br>
                        <button type="submit" value="buscar" id="botonBuscar"><img src="/images/search.png" class="image"></button>
                    </form>
                </div>
                <div id="scroll2">
                    <% if(typeof chats === 'undefined') { %>
                        <!-- <h1>Bienvenido</h1> -->
                    <% }else{ %>                
                        <% for(chat of chats) { %>
                            <div id="usuarios" name="<%= chat.IdChat %>" onclick="window.location.href = 'Chat/<%= chat.IdChat %>'">
                                <%= chat.NombreChat %>
                            </div>
                        <% }; %>
                    <% }; %>
                    <% if(typeof chatMenu !== 'undefined') { %>            
                        <% for(menu of chatMenu) { %>
                            <div id="usuarios" name="<%= menu.IdChat %>" onclick="window.location.href = '<%= menu.IdChat %>'">
                                <%= menu.NombreChat %>
                            </div>
                        <% }; %>
                    <% }; %>
                </div>
                <div id="regresar">
                    <a href="../" class="regresar">Salir</a>
                </div>
            </div>
            <div id="conversacion">
                <% if(typeof mensajes === 'undefined'){ %>
                    <!-- <h1>Parece que no hay ningun mensaje</h1> -->
                <% }else{ %>
                    <div class="nombreConversacion">
                        <% for(chatactual of chatActual){ %>
                            <h1 class="titulo"><%= chatactual.NombreChat %></h1>
                        <% }; %>     
                    </div>
                    <div id="scroll">            
                        <% for(mensaje of mensajes){ %>
                            <% if(mensaje.IdUsuario === actual){ %>
                                <div class="mensajePropio" name="">
                                    <nav id="menu">
                                        <ul>
                                          <li><img src="/images/masopciones.png" class="imageMas">
                                            <ul>
                                              <li><a href="#">Modificar</a></li>
                                              <li><a href="#">Eliminar</a></li>
                                            </ul>
                                          </li>
                                        </ul>
                                    </nav>
                                    <h2 class="usuarioMensaje" style="margin-block-end: 0%;"><%= mensaje.Nombre %></h2><br>
                                    <h2 class="textoMensaje"><%= mensaje.Texto %></h2><br>
                                    <h2 class="fechaMensaje"><%= mensaje.Fecha %></h2><br>
                                </div>
                                <div class="esqPropio"></div>
                            <% }else{ %>
                                <div class="mensajeOtro" name="">
                                    <nav id="menu">
                                        <ul>
                                          <li><img src="/images/masopciones.png" class="imageMas">
                                            <ul>
                                              <li><a href="#">Modificar</a></li>
                                              <li><a href="#">Eliminar</a></li>
                                            </ul>
                                          </li>
                                        </ul>
                                    </nav>
                                    <h2 class="usuarioMensaje" style="margin-block-end: 0%;"><%= mensaje.Nombre %></h2><br>
                                    <h2 class="textoMensaje"><%= mensaje.Texto %></h2><br>
                                    <h2 class="fechaMensaje"><%= mensaje.Fecha %></h2><br>
                                </div>
                                <div class="esqOtro"></div>
                            <% }; %>   
                        <% }; %>
                    </div><br>
                    <div class="escribirMensaje">
                        <form action="enviarMensaje/<%= mensaje.IdChat %>/<%= actual %>" method="post">
                            <input type="text" name="mensajeEscrito" size="10" placeholder="Escribe un mensaje ..." required class="escribirMensajeInput">
                            <button type="submit" value="Enviar" class="botonEnviar"><img src="/images/enviar.png" class="imageEnviar"></button>
                        </form>
                    </div>
                <% }; %>        
            </div>
        </div>
    </body>
    <script>
        document.getElementById('scroll').scrollTop = 99999999999999999999999;
    </script>
</html>